# Dependencies
node_modules/

# Builds
dist/
.next/
out/
build/
coverage/

# Env
.env
.env.local
.env.*.local

# Prisma
apps/api/prisma/*.db

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
.idea/
.vscode/

# Misc
*.tsbuildinfo
.turbo/
